<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile=".\logs\internal_logs\internallog.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<!--  -->
		<target xsi:type="File" name="errorFile"
        filename=".\logs\${shortdate}-${level}.txt"
        layout="${longdate}|${level:upperCase=true}|${logger}|${aspnet-Request-Method}|url: ${aspnet-Request-Url}${aspnet-Request-QueryString}|${message}"
        concurrentWrites="false" />

		<!--  -->
		<target xsi:type="Console" name="console"
        layout="${longdate}|${level:upperCase=true}|${logger}|${aspnet-Request-Method}|url: ${aspnet-Request-Url}${aspnet-Request-QueryString}|${message}"/>
	</targets>
	<rules>
		<!--  -->
		<logger name="Microsoft*" maxlevel="Error" final="true" />

		<!--  -->
		<logger name="*" minlevel="Info" writeTo="errorFile, console" />
	</rules>
</nlog>