<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile=".\logs\internal_logs\internallog.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<!-- Le bloc ci-dessous définit un endroit où seront sauvegardés les logs, le format et les informations du log. Ici, il s'agit d'un fichier situé dans le répertoire bin\Debug\net7.0\logs du projet dont le nom du fichier comprend la date et le niveau du log. -->
		<target xsi:type="File" name="errorFile"
        filename=".\logs\${shortdate}-${level}.txt"
        layout="${longdate}|${level:upperCase=true}|${logger}|${aspnet-Request-Method}|url: ${aspnet-Request-Url}${aspnet-Request-QueryString}|${message}"
        concurrentWrites="false" />

		<!-- Le bloc ci-dessous définit un endroit où seront sauvegardés les logs, le format et les informations du log. Ici, il s'agit de la console du projet. -->
		<target xsi:type="Console" name="console"
        layout="${longdate}|${level:upperCase=true}|${logger}|${aspnet-Request-Method}|url: ${aspnet-Request-Url}${aspnet-Request-QueryString}|${message}"/>
	</targets>
	<rules>
		<!-- Cette règle filtre les logs de Microsoft afin qu'ils ne soient pas consignés dans les logs. -->
		<logger name="Microsoft*" maxlevel="Error" final="true" />

		<!-- Cette règle envoie tous les autres logs (donc ceux que vous ajoutez dans votre projet) vers la console et le fichier de logs. -->
		<logger name="*" minlevel="Info" writeTo="errorFile, console" />
	</rules>
</nlog>